
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.mark-q{
    white-space: nowrap;
    border: 1px solid black;
}
.mark-q span{
    display: inline-block;
    padding-left: 100%;
    animation: mark-q 20s linear infinite;
}
@keyframes mark-q {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

/* shared styles */
.display-flex{
    display: flex;
}

.justify-item{
    display: grid;
    justify-items: center;
    
}

/* Dark-00 */
.dark-0{
    color: #000000;
    font-weight: bold;
}

/* Dark-1 */
.dark-1{
   color: #111111; 
}

/* dark-paragraph */
.dark-p{
    color: #808080;
    font-weight: 500;
    font-size: 1rem;
    margin-top: 0;
    padding: 0 2.5rem 1.5rem 2.5rem;
    
}

/* dark card heading */
.dark-card-h{
    color: #202020;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 0;
}
.card-shadow{
    box-shadow: 0.25rem 0.25rem 1rem 0.25rem rgba(0, 0, 0, 0.05);
}

/* orange color */
.orange{
    color: #FEA301;
}

.back-img{
    background-image: url(../assets/bg.png);
    background-size: cover;
}
/* Button standard */
.btn-read{
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    padding: 0.25rem 0.25rem 0.25rem 0.25rem;
    margin-bottom: 3rem;
    
}
.standard-img{
    padding: 3.25rem 5rem 2rem 7rem;
}


/* navbar related style */

.navbar{
    align-items: center;
    justify-content: space-between;
    padding: 20px 140px;
}

/* .humberger{
    height: 30px;
    width: 30px;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
} */
.navbar-ul{
    display: flex;
    list-style: none;
}

nav a{
    text-decoration: none;
    margin-right: 32px;
}

.navbar-img{
    margin-right: 11px;
}

.navbar-school{
    font-weight: bold;
    font-size: 2rem;

}

.nav-a{
    font-weight: 600;
    font-size: 20px;
}
#home{
    color: #FEA301;
}
#about{
    color: #01ACFD;
}
#facilities{
    color: #5D58EF;
}
#admission{
    color: brown;
}

.navbar-btn{
    font-weight: 500;
    font-size: 1.25rem;
    color: #FFFFFF;
    padding: 10px 60px;
    background-color: #FEA301;
    border-radius: 12px;
    border: none;
}

/* Banner related styles */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 140px 60px 140px;
    gap: 50px;
}

.banner-heading{
    font-weight: bold;
    font-size: 3.5rem;
    margin-bottom: 0;

}

.banner-empower{
    font-weight: bold;
    /* font-size: 3.5rem; */
}

.banner-vision{
    font-weight: bold;
    /* font-size: 3.5rem; */
    color: #01ACFD;
}

.banner-para{
    font-weight: 400;
    font-size: 1.25rem;
    margin-top: 25px;
    margin-bottom: 25px;
}

.btn-enroll{
    font-weight: bold;
    font-size: 1.25rem;
    color: #FFFFFF;
    background-color: #111111;
    border-radius: 12px;
    border: none;
    padding: 10px 45px;
    margin-top: 0;
}

.banner-img{
    height: 100%;
}

header hr{
    height: 2px;
    width: 100%;
    display: none;
}

/* Media Query for header */
@media screen and (max-width: 576px) {
    .navbar{
        flex-direction: column;
    }

    .hide{
        display: none;
    }

    /* .humberger span{
        display: block;
        width: 30px;
        height: 30px;
        background-color: #FFFFFF;
    } */

    .navbar-ul{
        display: none;
    }
    .banner-img-div{
        margin: 20px 10px 5px 10px;
    }
    .banner-heading{
        margin-top: 0;
        margin-bottom: 18px;
        text-align: center;
        font-size: 2rem;
    }
    .banner-para{
        margin-bottom: 18px;
        text-align: center;
    }

    header hr{
        display: block;
        width: 100%;
        background-color: #FEA301;
    }

    .banner{
        flex-direction: column-reverse;
        margin: 0 1rem;
        
    }
    .banner-img{
        width: 100%;
        
    }
    .banner-media{
        justify-items: center;
        margin-top: 0;
    }
}



/* BODY PART RELATED STYLES */

/* Standard Related Styles */
.section-standard{
    justify-items: center;
}
.standard-title{
    font-size: 3.5rem;
    margin-top: 4rem;
    margin-bottom: 0;
}

.standard-card{
    display: flex;
    justify-content: space-between;
    gap: 1.75rem;
    margin: 7rem 6.75rem;
}

#read-1{
    color: #64C8FF;
}
#read-2{
    color: #F0AA00;
}
#read-3{
    color: #8700FF;
}

.kinder-part{
    border-radius: 10px;
    background-color: #DEF5FF;
    background-image: linear-gradient(to bottom, #DEF5FF, white);
}
.elementary-part{
    border-radius: 10px;
    background-color: #FFF4DC;
    background-image: linear-gradient(to bottom, #FFF4DC, white);
}
.middle-part{
    border-radius: 10px;
    background-color: #EEE1FF;
    background-image: linear-gradient(to bottom, #EEE1FF, white);
}

.forward-backward{
    margin-top: 0.25rem;
    margin-bottom: 2.5rem;
    width: 100%;
}


/* OUR STORIES RELATED STYLES */

.our-story{
    justify-items: center;
    background-image: linear-gradient(to top, rgba(255, 213, 138, 1) 0%, rgba(255, 255, 255, 1) 100%,url(../assets/bg.png));
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.story-img{
    width: 100%;
    height: 50%;
    border-radius: 10px 10px 0 0;
}

.story-bg{
    background-color: bisque;
    margin-top: 0;
}

.story-2{
    border-radius: 10px;
}
.story-img-2{
    width: 100%;
    height: 50%;
    border-radius: 10px 10px 0 0;
}

.story-img-div{
    display: flex;
    gap: 20px;
    padding: 5rem 8.75rem;
    
    
}
.story-part-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}



.story-title{
    font-size: 3rem;
}

.story-head{
    font-size: 1.5rem;
}
.head-1{
    padding: 3.5rem 2.5rem 3rem 2.5rem;
}
.head-2{
    padding: 2rem 2rem 1.75rem 2rem;
}
.story-para{
    font-weight: 500;
    font-size: 1rem;
    color: #666666;
    padding: 0 2rem 1.5rem 2.5rem;
    
}
.btn-story{
    font-weight: 500;
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 1rem 1.5rem;
}
.btn-story-1{
    background-color: #3CD8E8;
}
.btn-story-2{
    background-color: #95B226;
}
.btn-story-3{
    background-color: #5D58F0;
}
.btn-over{
    position: relative;
    top: -335px;
    right: -50px;
}
.btn-over-2{
   position: relative;
   top: -220px;
   right: -50px;
   
    /* -220 -50 */
}
.btn-over-3{
    position: relative;
    top: -250px;
    right: -50px;
}
.btn-view{
    margin-bottom: 60px;
}



/* Body related media query */

@media  screen and (max-width:576px) {
    
    .standard-card{
        flex-direction: column;
        margin-top: 2.5rem;
        margin-bottom: 1rem;
        width: 100%;
        padding: 0 1rem 0 2rem;
        
    }
    .standard-title{
        text-align: center;
        font-size: 1.75rem;
    }

    .kinder-part, .elementary-part, .middle-part{
        margin-bottom: 1rem;    
    }
    .forward-backward{
        display: none;
    }

    #first-story{
        display: none;
    }
    .story-part-2{
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    .story-part-2 div{
        width: calc(100% - 10px);
    }
    .our-story{
        margin: 1.25rem 1.75rem 1.25rem 1.75rem;
        width: 100%;
        justify-items: center;
        
    }
    .story-img-div{
        padding: 1.25rem 2.25rem;
        
    }
    .btn-story{
        width: 60%;
        font-size: 0.55rem;
    }
    .btn-over-2{
        position: relative;
        top: -250px;
        right: -50px;
    }
    #btn-3-4{
        position: relative;
        top: -280px;
        right: -50px;
    }
    #second-story, #first-story{
        margin-left: 1rem;
        margin-right: 0;
    }
}



/* FOOTER RELATED STYLES */

.footer{
    display: flex;
    justify-content: space-between;
    background-color: #01ACFD;
    padding: 120px 200px 170px 140px;
}

.footer-logo{
    display: flex;
    margin-bottom: 30px;
}

.logo-title{
    font-weight: bold;
    font-size: 2.5rem;
    color: white;
    margin-left: 10px;
}
.about-school{
    font-weight: 600;
    font-size: 1.75rem;
    color: white;
}
.keep-touch{
    font-weight: 600;
    font-size: 1.5rem;
    color: white;
}

.footer-shared{
    font-weight: 400;
    font-size: 1.25rem;
    color: white;
}

.btn-foot{
    border: none;
}

.footer-part-1{
    margin-right: 170px;
    width: 40%;
}
.footer-part-2{
    margin-right: 140px;
}